/*========================= FULL SCREEN ADAPTATION ======================*/


.body-events{
    background-image: url('../img/backgrounds/background_10.jpg');

}

.nav-events{
    background-color: rgba(255, 255, 255, 0.722);
}

.container-events{
    /* background-color: rgba(255, 255, 255, 0.722); */
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 15%;
    margin-right: 15%;
    gap: 10px;
}

.container-events p{
    color: black;
}

.section-event{
    background-color: rgba(255, 255, 255, 0.87);
    padding: 20px;
    margin-top: 5%;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}

.event-tickets{
    margin-top: 30%;
    background-color:rgba(201, 139, 222, 0.446);
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 30px;
    border: 1px rgba(201, 139, 222) solid;
    color: black;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.event-tickets:hover{
    background-color:rgba(201, 139, 222);
    text-decoration: none;
}

.title-events{

    display: flex;
    justify-content: space-around;
    letter-spacing: 60px;
    background-color:rgba(201, 139, 222, 0.826); 
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    

}




@media screen and (max-width: 1200px){


    .body-events{
        background-image: url('../img/backgrounds/background_10.jpg');

    }

    .nav-events{
        background-color: rgba(255, 255, 255, 0.722);
    }
    
    .container-events{
        /* background-color: rgba(255, 255, 255, 0.722); */
        color: black;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 15%;
        margin-right: 15%;
    }
    
    .container-events p{
        color: black;
    }
    
    .section-event{
        background-color: rgba(255, 255, 255, 0.87);
        padding: 20px;
        margin-top: 5%;
        text-align: center;
        height: 300px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }
    
    .event-tickets{
        margin-top: 30%;
        background-color:rgba(201, 139, 222, 0.446);
        width: 80%;
        margin: auto;
        padding: 10px;
        border-radius: 30px;
        border: 1px rgba(201, 139, 222) solid;
        color: black;
        letter-spacing: 8px;
        text-transform: uppercase;
    }
    
    .event-tickets:hover{
        background-color:rgba(201, 139, 222);
        text-decoration: none;
    }
    
    .title-events{
    
        display: flex;
        justify-content: space-around;
        letter-spacing: 60px;
        background-color:rgba(201, 139, 222, 0.826); 
        margin-bottom: 20px;
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 800;
    
    }
}



@media screen and (max-width: 900px){

    .body-events{
        background-image: url('../img/backgrounds/background_10.jpg');

    }
    
    .nav-events{
        background-color: rgba(255, 255, 255, 0.722);
    }
    
    .container-events{
        /* background-color: rgba(255, 255, 255, 0.722); */
        color: black;
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        margin-right: 2%;
        padding: 10px;
    }
    
    .container-events p{
        color: black;
    }
    
    .section-event{
        background-color: rgba(255, 255, 255, 0.87);
        padding: 20px;
        margin-top: 5%;
        text-align: center;
        height: 300px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .section-event>h4{
        margin: auto;
    }
    
    .event-tickets{
        margin-top: 30%;
        background-color:rgba(201, 139, 222, 0.446);
        width: 80%;
        margin: auto;
        padding: 10px;
        border-radius: 30px;
        border: 1px rgba(201, 139, 222) solid;
        color: black;
        letter-spacing: 8px;
        text-transform: uppercase;
    }
    
    .event-tickets:hover{
        background-color:rgba(201, 139, 222);
        text-decoration: none;
    }
    
    .title-events{

        display: flex;
        justify-content: space-around;
        letter-spacing: 20px;
        background-color:rgba(201, 139, 222, 0.826); 
        margin-bottom: 20px;
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 500;
    
    }
    
    
    /* check lisibilité for words */



}



