@media screen and (max-width: 800px){



    .section-formulaire{
        display: flex;
        margin: 20px;
        padding-left: 15%;
        padding-right: 15%;
        background:  rgba(201, 139, 222, 0.446);
        height: 80vh;

    }
    
    .section-formulaire p{
        text-align: center;
        padding-bottom: 5%;
        padding-top: 5%;
        margin-top: 15%;
        color: rgb(112, 112, 112);
    }
    
    
    .section-formulaire form{
    
    }
    
    .section-formulaire input[type=submit] {

        padding:15px; 
        background-color: rgb(201, 139, 222);
        border:0 none;
        cursor:pointer;
        border-radius: 5%; 
        margin-top: 15px;
        font-size: medium;
        text-transform: uppercase;
        color: black;
    }
    
    .section-formulaire input[type=submit]:hover {
        background-color: rgb(201, 139, 222);
        color: white;
        align-content: space-around;
        background-color:orange;
 
     }
    
    .section-formulaire input[type=text] {
        padding:5px; 
        margin: 10px;
        border:none; /* Get rid of the browser's styling */
        border-bottom:5px dotted  rgb(201, 139, 222); /* Add your own border */
        font-size: medium;
        width: 100%;
    }
    
    .btn-formulaire-container{

        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;


    }


    svg.icon-env{
        
        background-color: orange;
        border-radius: 50%;
        padding: 20px;

    }
    
    .icon-formulaire{
        padding-top: 10%;
        padding-top: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .box {
        --mask:
          radial-gradient(25.00px at 25.00px 50%,#000 99%,#0000 101%) 0 calc(50% - 50px)/51% 100px repeat-y,
          radial-gradient(25.00px at 0px 50%,#0000 99%,#000 101%) 25px 50%/calc(51% - 25px) 100px repeat-y,
              radial-gradient(25.00px at calc(100% - 25.00px) 50%,#000 99%,#0000 101%) 100% calc(50% - 50px)/51% 100px repeat-y,
          radial-gradient(25.00px at calc(100% + 0.00px) 50%,#0000 99%,#000 101%) calc(100% - 25px) 50%/calc(51% - 25px) 100px repeat-y;
        -webkit-mask: var(--mask);
                mask: var(--mask);
      }

}



