.navigation-contact{
    background-color: rgba(255, 255, 255, 0.883);
}


.section-formulaire{
    padding: 15px;
    margin-left: 30%;
    margin-right: 30%;
}



.section-formulaire p{
    text-align: center;
    padding-bottom: 5%;
    color: rgb(0, 0, 0);
}


.section-formulaire input[type=submit] {

    padding:15px; 
    background-color: rgb(201, 139, 222);
    border: 5px dotted rgb(255, 255, 255);
    cursor:pointer;
    border-radius: 5%; 
    margin-top: 15px;
    font-size: medium;
    text-transform: uppercase;
    color: black;

}

.section-formulaire input[type=submit]:hover {
    background-color: rgb(201, 139, 222);
    color: white;
    align-content: space-around;
    background-color:orange;
    border: 5px dotted rgb(201, 139, 222);

 }

.section-formulaire input[type=text] {
    padding:5px; 
    margin: 10px;
    border:none; /* Get rid of the browser's styling */
    border-bottom:5px dotted  rgb(201, 139, 222); /* Add your own border */
    font-size: medium;
    text-align: center;
    letter-spacing: 5px;
    border-radius: 20px;
    width: 80%;
    align-self: center;

}

.btn-formulaire-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}


svg.icon-env{
    background-color:  rgba(255, 166, 0, 0.901);
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 10%;
}

.icon-formulaire{
    padding-top: 10%;
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background-color: rgba(255, 166, 0, 0.901);
    max-width: 100%;
    padding: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}


/* .box {
    --mask:
      radial-gradient(25.00px at 25.00px 50%,#000 99%,#0000 101%) 0 calc(50% - 50px)/51% 100px repeat-y,
      radial-gradient(25.00px at 0px 50%,#0000 99%,#000 101%) 25px 50%/calc(51% - 25px) 100px repeat-y,
          radial-gradient(25.00px at calc(100% - 25.00px) 50%,#000 99%,#0000 101%) 100% calc(50% - 50px)/51% 100px repeat-y,
      radial-gradient(25.00px at calc(100% + 0.00px) 50%,#0000 99%,#000 101%) calc(100% - 25px) 50%/calc(51% - 25px) 100px repeat-y;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  } */

  .contact-background{

    background-image: url('../img/backgrounds/background_squiggles.png'); 
    /* background-image: url('../img/backgrounds/background_squiggles2.jpg');     */
}




@media screen and (max-width: 800px){



    .section-formulaire{
        padding: 5px;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 10px;
    }
    
    .section-formulaire p{
        text-align: center;
        padding-bottom: 5%;
        color: rgb(0, 0, 0);
    }
    
    
    .section-formulaire input[type=submit] {

        padding:15px; 
        background-color: rgb(201, 139, 222);
        border:0 none;
        cursor:pointer;
        border-radius: 5%; 
        margin-top: 15px;
        font-size: medium;
        text-transform: uppercase;
        color: black;
    }
    
    .section-formulaire input[type=submit]:hover {
        background-color: rgb(201, 139, 222);
        color: white;
        align-content: space-around;
        background-color:orange;
 
     }
    
    .section-formulaire input[type=text] {
        padding:5px; 
        margin: 10px;
        border:none; /* Get rid of the browser's styling */
        border-bottom:5px dotted  rgb(201, 139, 222); /* Add your own border */
        font-size: medium;
        text-align: center;
        letter-spacing: 5px;
        border-radius: 20px;

    }
    
    .btn-formulaire-container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
    }


    svg.icon-env{
        background-color:  rgba(255, 166, 0, 0.901);
        border-radius: 50%;
        padding: 20px;
        margin-bottom: 10%;
    }
    
    .icon-formulaire{
        padding-top: 10%;
        padding-top: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form{
        background-color: rgba(255, 166, 0, 0.901);
        max-width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    /* .box {
        --mask:
          radial-gradient(25.00px at 25.00px 50%,#000 99%,#0000 101%) 0 calc(50% - 50px)/51% 100px repeat-y,
          radial-gradient(25.00px at 0px 50%,#0000 99%,#000 101%) 25px 50%/calc(51% - 25px) 100px repeat-y,
              radial-gradient(25.00px at calc(100% - 25.00px) 50%,#000 99%,#0000 101%) 100% calc(50% - 50px)/51% 100px repeat-y,
          radial-gradient(25.00px at calc(100% + 0.00px) 50%,#0000 99%,#000 101%) calc(100% - 25px) 50%/calc(51% - 25px) 100px repeat-y;
        -webkit-mask: var(--mask);
                mask: var(--mask);
      } */

      .contact-background{

        background-image: url('../img/backgrounds/background_squiggles.png'); 
        /* background-image: url('../img/backgrounds/background_squiggles2.jpg');     */
    }

}



