.section-formulaire{
    display: block;
    margin: 20px;
    flex-wrap: wrap;
    padding-left: 15%;
    padding-right: 15%;
}

.section-formulaire p{
    text-align: center;
    padding-bottom: 10px;
}


.section-formulaire form{
    padding: 10px;
    gap: 10px;

}

.section-formulaire input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
    margin-left: 15%;
    margin-right: 15%;
    flex-grow: 1;
    margin-top: 15px;
    font-size: medium;
    text-transform: uppercase;
}

.section-formulaire input[type=submit]:hover {
    background-color:rgb(0, 2, 100);
    color: white;
}

.section-formulaire input[type=text] {
    padding:5px; 
    margin: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
    border:none; /* Get rid of the browser's styling */
    border-bottom:1px solid black; /* Add your own border */
    font-size: medium;
}

.section-formulaire-container{
    width: 100%;
    margin-left: 50%;
    margin-right: 50%;
}

.section-formulaire-container-email{
    margin-left: 25%;
    margin-right: 15%;
}
