@media screen and (max-width: 800px){

    .container-gallery-body{
        display: flex;
        max-width: 100vw;
    }

    .container-gallery-section{
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }


    .container-gallery-title{
        padding-bottom: 10%;
        padding-top: 5%;
    }

    .container-gallery-title>h4{
        padding: 10px;
    }

}