/*--------------------------- FULL XL SCREEN -----------------------*/
    .music-background{
        background-color: rgb(205, 205, 205);
    }
    
    .container-music{
        margin-top: 1%;
        margin-right: 10%;
        margin-left: 10%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    
    .container-music-text>h3{
        padding: 20px;
        padding-bottom: 5px;
    }
    
    .container-music-text>ul{
        padding: 20px;
        letter-spacing: 5px;
        line-height: 20px;
        flex-grow: 1;
    }
    
    .section-music{
        display: flex;
        flex-direction: row;
        width: 50%;
    }
    
    .music-title{
        padding: 5px;
        margin-right: 10%;
        margin-left: 10%;
    }
    
    .container-music>img{
        height: 300px;
        width: 300px;
        margin-top: 10px;
    }

    .section-music>img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .container-music-text{
        width: 40rem;
        display: flex;
        flex-direction: column;
    }


@media screen and (max-width: 1300px){

    
    .container-music-text>h3{
        padding: 20px;
        padding-bottom: 5px;
        font-size: 25px;
    }
    
    .container-music-text>ul{
        line-height: 25px;
    }

    .container-music-text .released{
       padding-bottom: 10px;
       font-weight: bold;
    }
    
    .section-music{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    
    .container-music>img{
        margin-top: 10px;
    }

    .container-music-text{
        width: 45rem;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

}  


@media screen and (max-width: 900px){

    
    .container-music-text>h3{
        padding: 0px;
        padding-bottom: 10px;
    }
    
    .container-music-text>ul{
        letter-spacing: 5px;
        line-height: 20px;
        padding: 0px;
    }

    .container-music-text .released{
       padding-bottom: 10px;
       font-weight: bold;
    }
    
    .section-music{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
    }

    .container-music-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}  