
.site-header{
  /* background-color:  rgba(201, 139, 222, 0); */
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-bottom: 20px;
}

.gabi{
  visibility:collapse;
}



.container-header{
  background-color:  rgba(201, 139, 222, 0.434);
  display: flex;
}

.site-header>img{
  width: 80px;
  height: 80px;
  object-fit: contain;
}

#menu {

  display: flex;
  background-color: rgba(201, 139, 222, 0.434);
  justify-content: space-around;
  padding-right: 5%;
  padding-left: 5%;

}

ul#menu{
  padding: 10px;
}


.list-icon{
  color: rgb(246, 242, 242);
  text-align: center;
  font-size: 30px;
  letter-spacing: 20px;
  display: none;
}

#menu-toggle {
  display: none;
}

div.container-icon-menu{
  visibility: hidden;
}

.list-icon > .test:hover{
  transform: rotate(10deg);
}

a:hover{
  text-decoration-line: line-through;
  text-decoration-style: wavy;
}

li.list-item{
  text-transform: uppercase;
  display: flex;
  place-items: center;
}

/*========================= GABI WORLD FONT ==========================*/
.spacer{
  width: 60px;
  color:rgba(0, 0, 0, 0)
}

.G{
  transform: rotate(10deg);
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.A{
  transform: rotate(-10deg);
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.B{
  transform: rotate(10deg);
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.I{
  transform: rotate(-10deg);
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.W{
  transform: rotate(-10deg);
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.O{
  transform: rotate(10deg);
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.R{
  transform: rotate(-10deg);
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.L{
  transform: rotate(10deg);
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.D{
  transform: rotate(-10deg);
  transition: width 2s, height 2s, background-color 2s, transform 5s;
}

/*======================= hover ====================*/

.G:hover{
  transform: rotate(-20deg);
}
.A:hover{
  transform: rotate(-40deg);
}
.B:hover{
  transform: rotate(-20deg);
}
.I:hover{
  transform: rotate(40deg);
}

.W:hover{
  transform: rotate(30deg);
}
.O:hover{
  transform: rotate(-30deg);
}
.R:hover{
  transform: rotate(20deg);
}
.L:hover{
  transform: rotate(-40deg);
}
.D:hover{
  transform: rotate(30deg);
}


/*========================= GABI WORLD FONT END ==========================*/


/*================================== MOBILE VIEW ===================================*/

@media screen and (max-width: 900px){

  .site-header>a{
    visibility:visible;
  }

    /* ===============toggle-menu functionality ===========*/

    label {
        cursor: pointer;
      }
      
      #menu-toggle {
        display: none;
      }

      #menu {
        overflow: hidden;
        height: 80vh;
        max-height: 0;
        padding: 0;
        margin: 0 auto;
        -webkit-transition: all 0.5s ease;
        display: flex;
        flex-direction:column;
        z-index: 1;
      }

      ul#menu{
        padding: 0px;
      }

      
      #menu-toggle:checked + #menu {
        max-height: 100%;
      }

      #menu li {
        /* background-color: rgba(160, 156, 154, 0.76); */
        background-color: rgba(201, 139, 222, 0.434);
        padding-top: 10px;
        height: 100%;

      }


      li.list-item{
        color: rgb(246, 242, 242);
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 30px;

      }

      .list-item>a{
        font-size: 20px;
      }

      a:hover{
        text-decoration-line: line-through;
        text-decoration-style: wavy;

      }


      div.container-icon-menu{
        visibility: visible;
      }
      

    /* =============== end toggle-menu functionality ===========*/
      
    .container-body{

        display: flex;
        height: 100%;
        font-family: 'Fredoka One', cursive;
        margin: 0;
    }

    div.container-header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        letter-spacing: 10px;
        position: relative;
        top: 0px;
        background-color: rgba(255, 255, 255, 0.787);
    }

    .site-header>img{
      display:none;
    }

    .site-header>a{
      visibility: visible;
    }

    .site-header{
      padding: 10px;
      font-size: 20px;
      background-color: rgba(255, 255, 255, 0);
    }

    .list-icon{
      color: rgb(246, 242, 242);
      text-align: center;
      font-size: 30px;
      letter-spacing: 20px;
      display: flex;
      justify-content: space-around;
    }

    .list-icon>a:hover{
      text-decoration: none;
      text-decoration-line: none;
    }

    .list-icon > .test:hover{
      transform: rotate(10deg);
    }

  .list-item{

    display: flex;
    justify-content: center;

  }




    


}

