
/*================================== MOBILE VIEW ===================================*/

@media screen and (max-width: 800px){

    /* ===============toggle-menu functionality ===========*/

    label {
        cursor: pointer;
      }
      
      #menu-toggle {
        display: none;
      }

      #menu {
        overflow: hidden;
        height: 100vh;
        max-height: 0;
        padding: 0;
        margin: 0 auto;
        -webkit-transition: all 0.5s ease;
        display: flex;
        flex-direction:column;
        z-index: 1;
      }
      #menu-toggle:checked + #menu {
        max-height: 100%;
      }

      #menu li {
        /* background-color: rgba(160, 156, 154, 0.76); */
        background-color: rgba(201, 139, 222, 0.446);
        padding: 10px;
        flex-grow: 1;
      }


      li.list-item{
        color: rgb(246, 242, 242);
        text-align: center;
        font-size: 30px;
        letter-spacing: 20px;
      }

      a:hover{
        text-decoration-line: line-through;
        text-decoration-style: wavy;
      }

    /* =============== end toggle-menu functionality ===========*/
      
    .container-body{

        display: flex;
        height: 100%;
        font-family: 'Fredoka One', cursive;
        margin: 0;
    }

    div.container-header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        letter-spacing: 10px;
        position: relative;
        top: 0px;
    }

    .site-header{
      padding: 10px;
    }

    .list-icon{
      color: rgb(246, 242, 242);
      text-align: center;
      font-size: 30px;
      letter-spacing: 20px;
      display: flex;
      justify-content: space-around;
    }

    .list-icon>a:hover{
      text-decoration: none;
      text-decoration-line: none;
    }

    .list-icon > .test:hover{
      transform: rotate(10deg);
    }
    


}

